.aboutus {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 8px;
}

.aboutus-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 0 40px;
}

.aboutus-title {
  width: max-content;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.aboutus-content {
  line-height: 24px;
}

.aboutus-content>p {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .aboutus {
    flex-direction: column;
  }
}