.tb {
  display: flex;
  max-width: var(--max-width);
  width: 100%;
  padding: 10px;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.tb-logo {
  position: relative;
  width: 120px;
  height: 40px;
}

.tb-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 49px;
}

.tb-btn {
  padding: 12px 18px;
  transition-duration: 0.4s;
  border-radius: 10px;
  border-radius: 8px;
  border: 1px solid #FFF;
  background: transparent;
}

.tb-btn:hover {
  box-shadow: 0px 7px 24px rgba(120, 120, 120, 0.3);
}

.tb-btn:active {
  box-shadow: 0px 7px 12px rgba(120, 120, 120, 0.3);
}

@media only screen and (max-width: 765px) {
  .tb {
    justify-content: space-around;
  }
  .tb-sections {
    display: none;
  }
}